body {
    font-family: sans-serif;
}

header {
  background-color: brown;
}

.venom {
   background-color: DarkGoldenRod;
}

.negr222 {
    background-color: Purple; 
}
.prrap {
   background-color: Wheat
}
